<!-- LECTURE 2 - FLASK -->

<!DOCTYPE html>
<html>
    <head>
        <title>Lecture 2 - Flask</title>
    </head>
    <body>
        <h2>Hello, World!</h2>

        <!-- 1. Placeholder -->
        <!-- This double-braces is from a different language - ginger2 - but
             that Flask uses in its .html template to make it easy to
             dinamically generate web pages
        -->
        <p>Variable headline from python file: {{ headline }}</p>

        <h3>Is it new year? {{ new_year }}</h3>

    </body>
</html>
